{
  "presets": ["react-native"],
  "plugins": [
    ["transform-decorators-legacy", {
      "legacy": true
    }],
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ]
  ]
}